html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  box-sizing: border-box;
}

#box {
  height: auto;
  width: auto;
}

body {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 5em;
}

body {
  background: url("/public/images/main-bcg.webp");
  background-position: 20% 82%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}


@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    padding: 0;
  }
}

.loader {
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  
  /* bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  background-color: rgba(72, 39, 13, 0.75);
  display: inline-block;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif; */
}