html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  box-sizing: border-box;
}

#box {
  height: auto;
  width: auto;
}

body {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 5em;
}

body {
  background: url("/public/images/main-bcg.webp");
  background-position: 20% 82%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 1) 100%);
  opacity: 0.7;
  z-index: -1;
}


a {
  text-decoration: none;
}


@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    padding: 0;
  }
}

.loader {
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  color: white;

}