footer {
    /* position: absolute; */
    opacity: 0.7;
    bottom: 0;
    height: 40px;
    font-size: 20px;
    width: 100%;
    color: white;
    padding: 0.7em 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #270000;
}
